<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Appy Thing</title>
    <script src="{{ url_for('static', filename='vendor/htmx.js') }}"></script>
  </head>
  <body hx-boost="true">

    {# Main app goes here... #}
    {% block app %}{% endblock %}

    {# Flash messages area #}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}<li>{{ message }}</li>{% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
 
  </body>
</html>
